<div class="swiper-slide x-w-3/4 x-h-[300px]">
    <div class="x-h-full x-rounded-lg"
        style="background-image: url({{ img_url | img_url: width: 1000 }}); background-size: cover; background-position: center;">
        &nbsp;
    </div>
</div>