<div class="swiper-content x-absolute x-top-1/2 x-left-1/2 x-transform x--translate-x-1/2 x--translate-y-1/2 x-text-center x-transition-opacity x-ease-in-out x-duration-500"
    style="opacity: 0;">
    <div class="x-font-bold x-text-[24px]">{{ header_text }}</div>
    <div>{{ content_text }}</div>
</div>