<div class="x-w-full md:x-flex x-flex-col x-items-center x-hidden x-mb-[-1px]">
    <hr class="x-h-[2px] x-w-full x-bg-[#951828]"/>
    <div class="x-py-[12px]">
        {%- liquid render 'header-dropdown-menu' %}
    </div>
    <hr class="x-h-[2px] x-w-full x-bg-[#951828]"/> 
</div>