<div>
    <div class="x-w-full x-h-[80px] md:x-h-[50px] x-bg-[#951828] x-flex x-justify-center x-items-center">
        <div class="x-text-[20px] x-text-[#fff] x-text-center">
            {{ content }}
        </div>
    </div>
</div>