<div class="x-p-[16px] md:x-py-[64px]">
    <div class="lg:x-max-w-[1280px] x-mx-auto" >
        <div class="x-mb-[24px] x-flex x-justify-center x-items-center" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="100">
            <img src="{{ "weserve.png" | asset_url }}" alt="" width="100%" height="100%" class="rellax x-w-[90px]">
        </div>
        <div class="x-flex x-flex-col x-gap-[24px]">
            <div class="x-text-[28px] x-text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="100">Awaken client satisfaction</div>
            <div class="x-text-[14px] x-text-justify md:x-w-[60%] md:x-mx-auto md:x-text-[18px]">Source your reusable commercial linens from KSE Suppliers, a leading wholesaler of high- quality,
                high-value sheets, blankets, bar mops, bibs, patient gowns, pillows, towels and other institutional
                textiles. With our vast catalog and procurement expertise, you can deliver happiness around the clock.
            </div>
            <a href="/pages/about-us" class="x-text-[18px] x-text-center x-m-auto">READ MORE</a>
        </div>
    </div>
</div>