<div class="x-py-[16px] md:x-py-[64px]">
    <div class="bg-banner-2 x-text-white x-py-[40px] md:x-py-[76px] x-p-[16px]  x-text-justify">
        <div class="x-flex x-flex-col x-gap-[24px] lg:x-max-w-[1280px] x-mx-auto" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="100">
            <div class="x-text-[#F2AD36] x-text-[28px] x-text-start md:x-text-center">We demand more of our supply</div>
            <div class="x-text-[14px] x-text-justify md:x-w-[60%] md:x-mx-auto md:x-text-[18px]">Our
                promise is to help you maximize the value and reliability of your supply chain. From performing ongoing
                research into manufacturers and modern fabrics to continuously improving lead times and delivery
                schedules,
                we always bring you the most value for less.</div>
            <div class="x-text-[14px] x-text-justify md:x-w-[60%] md:x-mx-auto md:x-text-[18px]">Complete
                customer satisfaction is a priority at KSE. We have worked hard to garner a reputation of
                reliability, integrity, and dedication to our clients. Our knowledgeable, courteous staff is always
                happy to
                serve as personal consultants, offering advice or responding to inquiries. Their expertise is your gain.
            </div>
        </div>

    </div>
</div>

<style>
    .bg-banner-2 {
        background-image: url({{ "promiseBg.jpg" | asset_url }});
        background-size: cover;
        background-position: center;
    }
</style>