<div class="x-relative x-flex x-flex-col x-items-center">
    <a href="{{ routes.collections_url }}" class="x-absolute x-bottom-20 x-z-[1] x-bg-[#9e0b0f] x-flex x-flex-col x-justify-center x-items-center x-text-white x-h-[50px] x-w-[200px] x-text-[16px] x-rounded-[4px]">
        <div>
            BROWSE PRODUCTS 
        </div>
    </a>
    <div class="x-relative x-overflow-hidden x-h-[480px] lg:x-h-[560px] x-w-full">
        <div class="parallax-banner x-absolute x-inset-0 x-top-[-60px] x-w-full x-h-[130%] x-bg-cover x-bg-center"
            style="background-image: url({{ 'kse-banner-1.jpg' |  asset_url }});">
        </div>
    </div>
</div>


<script>

</script>