<div class="banner-bg">
    <div class="x-w-full x-h-[220px] x-flex x-flex-col x-justify-end x-items-center x-pb-[28px]">
        <button class="x-bg-[#9e0b0f] x-text-white x-h-[50px] x-w-[200px] x-text-[16px] x-rounded-[4px]">
            BROWSE PRODUCTS 
        </button>
    </div>
</div>

<style>
    .banner-bg {
        background-image: url({{ 'kse-banner-1.jpg' |  asset_img_url: '500x500' }});
        background-size: cover;
        background-position: center;
    }
</style>