<div class="x-py-[16px] md:x-py-[64px]">
    <div class="x-relative x-overflow-hidden x-h-[138px] md:x-h-[240px] lg:x-h-[480px] x-w-full">
        <div class="parallax-effect x-absolute x-inset-0 x-w-full x-h-[130%] x-bg-cover x-bg-center"
            style="background-image: url({{ 'weare-mob.jpg' | asset_url }});">
        </div>
    </div>
    <div class="x-p-[16px] x-py-[32px] md:x-py-[76px] x-bg-[#951828] x-opacity-95 x-text-white md:x-text-center">
        <div class="x-flex x-flex-col x-gap-[24px] lg:x-max-w-[1280px] x-mx-auto">
            <div class="x-text-[28px]" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="100">Serving you across 10 industries</div>
            <div class="x-text-[14px] x-text-justify md:x-w-[60%] md:x-mx-auto md:x-text-[18px]">KSE Suppliers is the ultimate out-of-house sourcing partner to
                wholesale buyers in the hospitality,
                healthcare and institutional industries. For over two decades we&apos;ve been serving suppliers of
                hospitals,
                nursing facilities, prisons, shelters, laundry services and more.</div>
            <a class="x-text-[18px] x-m-auto x-text-[#F2AD36]" href="/pages/about-us" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="100">READ MORE <i class='bx bxs-right-arrow x-text-[14px]'></i></a>
        </div>
    </div>
</div>


<script>
    document.addEventListener('scroll', function () {
        const parallaxSections = document.querySelectorAll('.parallax-effect');
        parallaxSections.forEach((parallax) => {
            const speed = 0.2; // Adjust the speed for the desired parallax effect
            const sectionTop = parallax.parentElement.offsetTop; // Get the top position of the parent element relative to the document
            const scrollPosition = window.scrollY;
            const windowHeight = window.innerHeight;

            // Check if the section is in the viewport
            if (scrollPosition + windowHeight > sectionTop && scrollPosition < sectionTop + parallax.parentElement.offsetHeight) {
                const yPos = (scrollPosition - sectionTop) * speed; // Calculate the parallax effect
                parallax.style.transform = `translateY(${yPos}px)`;
            }
        });
    });
</script>