<div class="x-py-[32px]">
    <div class="x-text-center x-flex x-flex-col x-gap-[48px] md:x-flex-row x-justify-center lg:x-gap-[80px]">
        <div class="x-flex x-flex-col x-gap-[16px]">
            <div class="x-text-[54px] x-leading-[48px]">14</div>
            <div class="x-text-[24px]">Full Product Categories</div>
        </div>
        <div class="x-flex x-flex-col x-gap-[16px]">
            <div class="x-text-[54px] x-leading-[48px]">3,000+</div>
            <div class="x-text-[24px]">Premium Quality Products</div>
        </div>
        <div class="x-flex x-flex-col x-gap-[16px]">
            <div class="x-text-[54px] x-leading-[48px]">100%</div>
            <div class="x-text-[24px]">High-Value Pricing Model</div>
        </div>
    </div>
</div>