<section class="x-mt-[16] x-bg-[#F0EFEF]">
    <div class="x-max-w-[1440px] x-mx-auto">
        <div class="x-flex x-flex-col lg:x-flex-row lg:x-items-center x-gap-[16px] x-p-[32px] lg:x-px-[40px]">
            
            <div class="x-flex x-gap-[16px] x-items-center x-mb-[32px] md:x-mb-[16px] lg:x-mb-0 lg:x-mr-[16px]">
                <div class="x-bg-orange-700 x-w-[48px] md:x-w-[64px] x-aspect-square x-rounded-full">&nbsp;</div>
                <div class="x-text-[14px] md:x-text-[16px]">
                    <div class="x-flex x-gap-[8px] md:x-text-nowrap">
                        <div>We'll work hard to assist<br/> you with anything you need</div>
                    </div>
                </div>
            </div>
            
            <div class="x-flex x-p-[16px] md:x-p-[20px] x-gap-[20px] x-bg-white x-rounded-md lg:x-flex-1">
                <div class="x-flex x-items-center">
                    <i class='bx bxs-chat x-text-[40px] md:x-text-[56px] x-text-[#951728]'></i>
                </div>
                <div class="x-flex x-flex-col x-gap-[4px]">
                    <div class="x-font-semibold md:x-text-[18px]">Chat with us</div>
                    <div class="x-flex x-items-center x-gap-[12px]">
                        <div class="x-h-[12px] x-aspect-square x-bg-[#97CA3D] x-rounded-full">
                            &nbsp;
                        </div>
                        <div class="x-text-[14px] md:x-text-[16px] x-text-nowrap">
                            Available from 9:15am to 5:00pm
                        </div>
                    </div>
                </div>
            </div>

            <div class="x-flex x-p-[16px] md:x-p-[20px] x-gap-[20px] x-bg-white x-rounded-md lg:x-flex-1">
                <div class="x-flex x-items-center">
                    <i class='bx bxs-envelope x-text-[40px] md:x-text-[56px] x-text-[#951728]'></i>
                </div>
                <div class="x-flex x-flex-col x-gap-[4px]">
                    <div class="x-font-semibold md:x-text-[18px]">Email us</div>
                    <div class="x-flex x-items-center x-gap-[12px]">
                        <div class="x-h-[12px] x-aspect-square x-bg-[#97CA3D] x-rounded-full">
                            &nbsp;
                        </div>
                        <div class="x-text-[14px] md:x-text-[16px] x-text-nowrap">
                            Response by Tuesday
                        </div>
                    </div>
                </div>
            </div>

            <div class="x-flex x-p-[16px] md:x-p-[20px] x-gap-[20px] x-bg-white x-rounded-md lg:x-flex-1">
                <div class="x-flex x-items-center">
                    <i class='bx bxs-phone x-text-[40px] md:x-text-[56px] x-text-[#951728]'></i>
                </div>
                <div class="x-flex x-flex-col x-gap-[4px]">
                    <div class="x-font-semibold md:x-text-[18px]">Chat with us</div>
                    <div class="x-flex x-items-center x-gap-[12px]">
                        <div class="x-h-[12px] x-aspect-square x-bg-[#97CA3D] x-rounded-full">
                            &nbsp;
                        </div>
                        <div class="x-text-[14px] md:x-text-[16px] x-text-nowrap">
                            Available from 8am to 4pm
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>