<section>
    <div class="x-p-[16px]">
        
        <div class="x-flex x-flex-col x-gap-[64px] x-mb-[8px]">
            <a class="x-flex x-items-center x-gap-[4px] x-text-[#9E0B0F]">
                <i class='bx bx-left-arrow-alt x-text-[20px]' ></i> <div class="x-leading-[0px]">Continue Shopping</div>
            </a>
            <div class="x-w-full x-flex x-justify-between x-items-end">
                <div class="x-text-[32px] x-leading-[36px]">CART</div>
                <button>Clear Cart</button>
            </div>
        </div>
        
        <div class="x-border x-bg-[#F9F9F8] x-p-[16px] x-flex x-flex-col x-gap-[24px]">
            <div class="x-space-y-[18px]">
                <div>
                    <div class="x-text-[#9E0B0F] x-pb-[4px] x-border-b-[1px] x-border-gray-300 x-flex x-justify-between x-py-[4px] x-pr-[4px]">
                        <div class="x-text-[18px]">Fitted Sheets</div>
                        <div class="x-flex x-items-center x-gap-[8px]">
                            <a class="x-underline x-underline-offset-[2px]">Save for Later</a>
                            <div class="x-rounded-md x-text-[#444446] x-text-[18px] x-flex x-items-center">
                                <i class='bx bx-x' ></i>
                            </div>
                        </div>
                    </div>
                    <div class="x-flex x-flex-col">
                        <div class="x-border-b-[1px] x-border-gray-300 x-py-[8px] x-space-y-[16px]">
                            <div class="x-grid x-grid-cols-2 x-gap-[8px] x-gap-x-[12px]">
                                <div>
                                    <span>Item Code: </span><span>SAP3680</span>
                                </div>
                                <div>
                                    <span>Desc: </span><span>Twin</span>
                                </div>
                                <div>
                                    <span>Cut Size: </span><span>36 X 80 X 9</span>
                                </div>
                                <div>
                                    <span>Packing: </span><span>5 Dz/Cs</span>
                                </div>
                                <div>
                                    <span>Color: </span><span>Beige</span>
                                </div>
                                <div>&nbsp;</div>
                                <div class="x-flex x-gap-[4px] x-items-center x-w-full">
                                    <span>Qty:</span>
                                    <div class="x-flex x-items-center x-border x-rounded-md">
                                        <button class="x-flex x-items-center x-p-[4px] x-border-r-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                        <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-[40px]" readonly value="3">
                                        <button class="x-flex x-items-center x-p-[4px] x-border-l-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-plus'></i></button>
                                    </div>
                                </div>
                                
                                <div class="x-flex x-items-center">
                                    <span>Subtotal:&nbsp;</span><span class="x-font-semibold">$110.97</span>
                                </div>
                            </div>
                            <div>
                                <button class="x-w-full x-text-[#444446] x-bg-[#DFDFDF] x-rounded-md x-py-[4px]"><i class='bx bxs-trash-alt' ></i></button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="x-w-full x-flex x-border-[#9E0B0F] x-border-[1px] x-justify-between x-p-[8px] x-bg-[#F5DFE2] x-text-[#9E0B0F]">
                    <div class="x-text-[16px]">TOTAL</div>
                    <div class="x-font-semibold">$443.88</div>
                </div>
            </div>
            <div class="x-space-y-[8px]">
                <div class="x-text-[18px]">Looking to get a quote?</div>
                <div>You will have the opportunity to submit your order for a shipping quote and make any special requests on the checkout page.</div>
            </div>
            <div class="x-flex x-flex-col x-gap-[24px]">
                <div class="x-flex x-gap-[10px] x-items-center">
                    <div class="x-bg-orange-700 x-w-[48px] x-h-[48px] x-rounded-full">&nbsp;</div>
                    <div class="x-text-[16px]">
                        <div class="x-text-[12px]">Contact & Support</div>
                        <div class="x-flex x-gap-[8px]">
                            <div class="x-font-semibold">999.999.9999</div>
                            <div class="x-flex x-items-center x-gap-[4px] x-text-[#9E0B0F]"><i class='bx bxs-chat' ></i> Chat</div>
                        </div>
                    </div>
                </div>
                <div class="x-w-full x-flex x-gap-[8px]">
                    <button class="x-p-[8px] x-flex-1 x-text-[#9E0B0F] x-underline x-underline-offset-[2px]">Save Order as Draft</button>
                    <button class="x-border-[#9E0B0F] x-p-[8px] x-flex-1 x-rounded-md x-bg-[#9E0B0F] x-text-white">Checkout</button>
                </div>
            </div>
        </div>

        <div>
            <div class="x-text-[20px] x-underline x-underline-offset-[8px] x-my-[16px] x-mt-[64px]">Saved for Later</div>
            <div class="x-border x-p-[16px]">
                <div class="items-container">
                    <div class="item">
                        <div class="x-text-[#9E0B0F] x-pb-[4px] x-border-b-[1px] x-border-gray-300 x-flex x-justify-between x-py-[4px] x-pr-[4px]">
                            <div class="x-text-[18px]">Fitted Sheets</div>
                            <div class="x-flex x-items-center x-gap-[8px]">
                                <div class="x-rounded-md x-text-[#444446] x-text-[18px] x-flex x-items-center">
                                    <i class='bx bx-x' ></i>
                                </div>
                            </div>
                        </div>
                        <div class="x-flex x-flex-col">
                            <div class="x-border-b-[1px] x-border-gray-300 x-py-[8px] x-space-y-[16px]">
                                <div class="x-grid x-grid-cols-2 x-gap-[8px] x-gap-x-[12px]">
                                    <div>
                                        <span>Item Code: </span><span>SAP3680</span>
                                    </div>
                                    <div>
                                        <span>Desc: </span><span>Twin</span>
                                    </div>
                                    <div>
                                        <span>Cut Size: </span><span>36 X 80 X 9</span>
                                    </div>
                                    <div>
                                        <span>Packing: </span><span>5 Dz/Cs</span>
                                    </div>
                                    <div>
                                        <span>Color: </span><span>Beige</span>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div class="x-flex x-gap-[4px] x-items-center x-w-full">
                                        <span>Qty:</span>
                                        <div class="x-flex x-items-center x-border x-rounded-md">
                                            <button class="x-flex x-items-center x-p-[4px] x-border-r-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                            <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-[40px]" readonly value="3">
                                            <button class="x-flex x-items-center x-p-[4px] x-border-l-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-plus'></i></button>
                                        </div>
                                    </div>
                                    
                                    <div class="x-flex x-items-center">
                                        <span>Subtotal:&nbsp;</span><span class="x-font-semibold">$110.97</span>
                                    </div>
                                </div>
                                <div>
                                    <button class="x-w-full x-text-white x-bg-[#9E0B0F] x-rounded-md x-py-[8px]">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>