<section>
    <div class="x-max-w-[1440px] x-mx-auto x-p-[16px] md:x-p-[30px]">
        <div class="x-bg-[#FFF6E6] x-flex x-flex-col x-gap-[48px] x-items-center x-justify-center x-text-center x-py-[64px] md:x-py-[80px] lg:x-py-[128px] x-px-[12px] x-text-[16px]">
            <div class="x-flex x-flex-col x-gap-[32px]">
                <div><i class='bx bx-check-circle x-text-[#9E0B0F] x-text-[96px]'></i></div>
                <div class="x-text-[32px] md:x-text-[36px]">ORDER CONFIRMED!</div>
                <div>
                    Thank you for placing your order! We hope you enjoyed shopping with us. <br class="x-hidden md:x-block" />
                    We have sent you a confirmation email.
                </div>
                <div class="x-font-semibold">
                    Your order number is: <span class="x-text-[#9E0B0F]">123456789</span>
                </div>
            </div>
            <a class="x-bg-[#9E0B0F] x-text-white x-text-[14px] md:x-text-[16px] x-p-[12px] md:x-p-[14px] x-px-[16px] md:x-px-[20px] x-uppercase" href="{{ routes.all_products_collection_url }}">
                Browse more products
            </a>
        </div>
    </div>
</section>