<section>
    <div class="x-p-[16px] md:x-px-[30px] lg:x-p-[40px] lg:x-py-[64px] lg:x-max-w-[1440px] lg:x-mx-auto">
        <div class="x-flex x-flex-col x-gap-[64px] x-mb-[8px] md:x-mb-[16px]">
            <a class="x-flex x-items-center x-gap-[4px] x-text-[#9E0B0F]">
                <i class='bx bx-left-arrow-alt x-text-[20px]' ></i> <div class="x-leading-[0px] x-underline x-underline-offset-[4px] x-decoration-[#9E0B0F]">Continue Shopping</div>
                </a>
            <div class="x-text-[32px] md:x-text-[64px] x-leading-[36px] x-mb-[-32]">CART</div>
            <div class="x-w-full x-flex x-justify-end x-items-end">
                <button class="md:x-text-[20px]">Clear Cart</button>
            </div>
        </div>
        
        <div class="x-border x-bg-[#F9F9F8] x-p-[16px] md:x-p-[48px] md:x-px-[72px] x-flex x-flex-col x-gap-[24px] md:x-gap-[40px]">
            <div class="x-space-y-[18px] md:x-space-y-[40px]">
                <div class="items-container x-space-y-[16px] md:x-space-y-[40px]">

                    <div class="item">
                        <div class="x-text-[#9E0B0F] x-pb-[4px] md:x-pb-[12px] x-border-b-[1px] md:x-border-none x-border-gray-300 x-flex x-items-end x-justify-between x-py-[4px] x-pr-[4px]">
                            <div class="x-text-[18px] md:x-text-[24px] lg:x-text-[32px] md:x-leading-[32px]">Fitted Sheets</div>
                            <div class="x-flex x-items-end">
                                <div class="x-flex x-items-center x-gap-[8px]">
                                    <button class="x-underline x-underline-offset-[2px] lg:x-text-[20px]">Save for Later</button>
                                    <button class="x-rounded-md x-text-[#444446] x-text-[18px] x-flex x-items-center x-p-[4px]">
                                        <i class='bx bx-x x-leading-[0px]' ></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        {% comment %} mobile view {% endcomment %}
                        <div class="x-flex x-flex-col md:x-hidden">
                            <div class="x-border-b-[1px] x-border-gray-300 x-py-[8px] x-space-y-[16px]">
                                <div class="x-grid x-grid-cols-2 x-gap-[8px] x-gap-x-[12px]">
                                    <div>
                                        <span>Item Code: </span><span>SAP3680</span>
                                    </div>
                                    <div>
                                        <span>Desc: </span><span>Twin</span>
                                    </div>
                                    <div>
                                        <span>Cut Size: </span><span>36 X 80 X 9</span>
                                    </div>
                                    <div>
                                        <span>Packing: </span><span>5 Dz/Cs</span>
                                    </div>
                                    <div>
                                        <span>Color: </span><span>Beige</span>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div class="x-flex x-gap-[4px] x-items-center x-w-full">
                                        <span>Qty:</span>
                                        <div class="x-flex x-items-center x-border x-rounded-md">
                                            <button class="x-flex x-items-center x-p-[4px] x-border-r-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                            <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-[40px]" readonly value="3">
                                            <button class="x-flex x-items-center x-p-[4px] x-border-l-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-plus'></i></button>
                                        </div>
                                    </div>
                                    
                                    <div class="x-flex x-items-center">
                                        <span>Subtotal:&nbsp;</span><span class="x-font-semibold">$110.97</span>
                                    </div>
                                </div>
                                <div>
                                    <button class="x-w-full x-text-[#444446] x-bg-[#DFDFDF] x-rounded-md x-py-[4px]"><i class='bx bxs-trash-alt' ></i></button>
                                </div>
                            </div>
                        </div>

                        {% comment %} desktop view {% endcomment %}
                        <div class="x-hidden x-flex-col md:x-flex">
                            <table class="x-border-none table-alternating-rows">
                                <thead>
                                    <tr class="x-text-white x-bg-[#404042]">
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Item Code</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Desc</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Cut Size</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Packing</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Color</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Qty</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="x-border-b-[2.5px] x-border-[#e0e0e0]">
                                        <td class="x-p-[8px] x-py-[16px]">SAP3680</td>
                                        <td class="x-p-[8px] x-py-[16px]">Twin</td>
                                        <td class="x-p-[8px] x-py-[16px]">36 X 80 X 9</td>
                                        <td class="x-p-[8px] x-py-[16px]">5 Dz/Cs</td>
                                        <td class="x-p-[8px] x-py-[16px]">Beige</td>
                                        <td class="x-p-[8px] x-py-[4px]">
                                            <div class="x-flex x-gap-[4px] x-items-center md:x-w-full lg:x-pr-[48px]">
                                                <div class="x-flex x-items-center x-border x-rounded-md">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-r-[1px] x-border-gray-200 x-bg-white x-rounded-l-md"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                                    <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-full x-py-[4px]" readonly value="3">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-l-[1px] x-border-gray-200 x-bg-white x-rounded-r-md"><i class='x-text-[16px] bx bx-plus'></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="x-p-[8px] x-py-[12px] x-pr-[4px]">
                                            <div class="x-flex x-justify-between">
                                                <div>$110.97</div>
                                                <button class="x-rounded-sm x-text-[#444446] x-bg-[#DFDFDF] x-text-[18px] x-flex x-items-center x-p-[4px] x-px-[3px]">
                                                    <i class='bx bx-x x-leading-[0px]' ></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="x-border-b-[2.5px] x-border-[#e0e0e0]">
                                        <td class="x-p-[8px] x-py-[16px]">SAP3680</td>
                                        <td class="x-p-[8px] x-py-[16px]">Twin</td>
                                        <td class="x-p-[8px] x-py-[16px]">36 X 80 X 9</td>
                                        <td class="x-p-[8px] x-py-[16px]">5 Dz/Cs</td>
                                        <td class="x-p-[8px] x-py-[16px]">Beige</td>
                                        <td class="x-p-[8px] x-py-[4px]">
                                            <div class="x-flex x-gap-[4px] x-items-center md:x-w-full lg:x-pr-[48px]">
                                                <div class="x-flex x-items-center x-border x-rounded-md">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-r-[1px] x-border-gray-200 x-bg-white x-rounded-l-md"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                                    <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-full x-py-[4px]" readonly value="3">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-l-[1px] x-border-gray-200 x-bg-white x-rounded-r-md"><i class='x-text-[16px] bx bx-plus'></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="x-p-[8px] x-py-[12px] x-pr-[4px]">
                                            <div class="x-flex x-justify-between">
                                                <div>$110.97</div>
                                                <button class="x-rounded-sm x-text-[#444446] x-bg-[#DFDFDF] x-text-[18px] x-flex x-items-center x-p-[4px] x-px-[3px]">
                                                    <i class='bx bx-x x-leading-[0px]' ></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="x-border-b-[2.5px] x-border-[#e0e0e0]">
                                        <td class="x-p-[8px] x-py-[16px]">SAP3680</td>
                                        <td class="x-p-[8px] x-py-[16px]">Twin</td>
                                        <td class="x-p-[8px] x-py-[16px]">36 X 80 X 9</td>
                                        <td class="x-p-[8px] x-py-[16px]">5 Dz/Cs</td>
                                        <td class="x-p-[8px] x-py-[16px]">Beige</td>
                                        <td class="x-p-[8px] x-py-[4px]">
                                            <div class="x-flex x-gap-[4px] x-items-center md:x-w-full lg:x-pr-[48px]">
                                                <div class="x-flex x-items-center x-border x-rounded-md">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-r-[1px] x-border-gray-200 x-bg-white x-rounded-l-md"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                                    <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-full x-py-[4px]" readonly value="3">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-l-[1px] x-border-gray-200 x-bg-white x-rounded-r-md"><i class='x-text-[16px] bx bx-plus'></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="x-p-[8px] x-py-[12px] x-pr-[4px]">
                                            <div class="x-flex x-justify-between">
                                                <div>$110.97</div>
                                                <button class="x-rounded-sm x-text-[#444446] x-bg-[#DFDFDF] x-text-[18px] x-flex x-items-center x-p-[4px] x-px-[3px]">
                                                    <i class='bx bx-x x-leading-[0px]' ></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="item">
                        <div class="x-text-[#9E0B0F] x-pb-[4px] md:x-pb-[12px] x-border-b-[1px] md:x-border-none x-border-gray-300 x-flex x-items-end x-justify-between x-py-[4px] x-pr-[4px]">
                            <div class="x-text-[18px] md:x-text-[24px] lg:x-text-[32px] md:x-leading-[32px]">Draw Sheets</div>
                            <div class="x-flex x-items-end">
                                <div class="x-flex x-items-center x-gap-[8px]">
                                    <button class="x-underline x-underline-offset-[2px] lg:x-text-[20px]">Save for Later</button>
                                    <button class="x-rounded-md x-text-[#444446] x-text-[18px] x-flex x-items-center x-p-[4px]">
                                        <i class='bx bx-x x-leading-[0px]' ></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        {% comment %} mobile view {% endcomment %}
                        <div class="x-flex x-flex-col md:x-hidden">
                            <div class="x-border-b-[1px] x-border-gray-300 x-py-[8px] x-space-y-[16px]">
                                <div class="x-grid x-grid-cols-2 x-gap-[8px] x-gap-x-[12px]">
                                    <div>
                                        <span>Item Code: </span><span>SAP3680</span>
                                    </div>
                                    <div>
                                        <span>Desc: </span><span>Twin</span>
                                    </div>
                                    <div>
                                        <span>Cut Size: </span><span>36 X 80 X 9</span>
                                    </div>
                                    <div>
                                        <span>Packing: </span><span>5 Dz/Cs</span>
                                    </div>
                                    <div>
                                        <span>Color: </span><span>Beige</span>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div class="x-flex x-gap-[4px] x-items-center x-w-full">
                                        <span>Qty:</span>
                                        <div class="x-flex x-items-center x-border x-rounded-md">
                                            <button class="x-flex x-items-center x-p-[4px] x-border-r-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                            <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-[40px]" readonly value="3">
                                            <button class="x-flex x-items-center x-p-[4px] x-border-l-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-plus'></i></button>
                                        </div>
                                    </div>
                                    
                                    <div class="x-flex x-items-center">
                                        <span>Subtotal:&nbsp;</span><span class="x-font-semibold">$110.97</span>
                                    </div>
                                </div>
                                <div>
                                    <button class="x-w-full x-text-[#444446] x-bg-[#DFDFDF] x-rounded-md x-py-[4px]"><i class='bx bxs-trash-alt' ></i></button>
                                </div>
                            </div>
                        </div>

                        {% comment %} desktop view {% endcomment %}
                        <div class="x-hidden x-flex-col md:x-flex">
                            <table class="x-border-none table-alternating-rows">
                                <thead>
                                    <tr class="x-text-white x-bg-[#404042]">
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Item Code</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Desc</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Cut Size</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Packing</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Color</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Qty</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="x-border-b-[2.5px] x-border-[#e0e0e0]">
                                        <td class="x-p-[8px] x-py-[16px]">SAP3680</td>
                                        <td class="x-p-[8px] x-py-[16px]">Twin</td>
                                        <td class="x-p-[8px] x-py-[16px]">36 X 80 X 9</td>
                                        <td class="x-p-[8px] x-py-[16px]">5 Dz/Cs</td>
                                        <td class="x-p-[8px] x-py-[16px]">Beige</td>
                                        <td class="x-p-[8px] x-py-[4px]">
                                            <div class="x-flex x-gap-[4px] x-items-center md:x-w-full lg:x-pr-[48px]">
                                                <div class="x-flex x-items-center x-border x-rounded-md">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-r-[1px] x-border-gray-200 x-bg-white x-rounded-l-md"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                                    <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-full x-py-[4px]" readonly value="3">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-l-[1px] x-border-gray-200 x-bg-white x-rounded-r-md"><i class='x-text-[16px] bx bx-plus'></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="x-p-[8px] x-py-[12px] x-pr-[4px]">
                                            <div class="x-flex x-justify-between">
                                                <div>$110.97</div>
                                                <button class="x-rounded-sm x-text-[#444446] x-bg-[#DFDFDF] x-text-[18px] x-flex x-items-center x-p-[4px] x-px-[3px]">
                                                    <i class='bx bx-x x-leading-[0px]' ></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="item">
                        <div class="x-text-[#9E0B0F] x-pb-[4px] md:x-pb-[12px] x-border-b-[1px] md:x-border-none x-border-gray-300 x-flex x-items-end x-justify-between x-py-[4px] x-pr-[4px]">
                            <div class="x-text-[18px] md:x-text-[24px] lg:x-text-[32px] md:x-leading-[32px]">Pillowcase</div>
                            <div class="x-flex x-items-end">
                                <div class="x-flex x-items-center x-gap-[8px]">
                                    <button class="x-underline x-underline-offset-[2px] lg:x-text-[20px]">Save for Later</button>
                                    <button class="x-rounded-md x-text-[#444446] x-text-[18px] x-flex x-items-center x-p-[4px]">
                                        <i class='bx bx-x x-leading-[0px]' ></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        {% comment %} mobile view {% endcomment %}
                        <div class="x-flex x-flex-col md:x-hidden">
                            <div class="x-border-b-[1px] x-border-gray-300 x-py-[8px] x-space-y-[16px]">
                                <div class="x-grid x-grid-cols-2 x-gap-[8px] x-gap-x-[12px]">
                                    <div>
                                        <span>Item Code: </span><span>SAP3680</span>
                                    </div>
                                    <div>
                                        <span>Desc: </span><span>Twin</span>
                                    </div>
                                    <div>
                                        <span>Cut Size: </span><span>36 X 80 X 9</span>
                                    </div>
                                    <div>
                                        <span>Packing: </span><span>5 Dz/Cs</span>
                                    </div>
                                    <div>
                                        <span>Color: </span><span>Beige</span>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div class="x-flex x-gap-[4px] x-items-center x-w-full">
                                        <span>Qty:</span>
                                        <div class="x-flex x-items-center x-border x-rounded-md">
                                            <button class="x-flex x-items-center x-p-[4px] x-border-r-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                            <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-[40px]" readonly value="3">
                                            <button class="x-flex x-items-center x-p-[4px] x-border-l-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-plus'></i></button>
                                        </div>
                                    </div>
                                    
                                    <div class="x-flex x-items-center">
                                        <span>Subtotal:&nbsp;</span><span class="x-font-semibold">$110.97</span>
                                    </div>
                                </div>
                                <div>
                                    <button class="x-w-full x-text-[#444446] x-bg-[#DFDFDF] x-rounded-md x-py-[4px]"><i class='bx bxs-trash-alt' ></i></button>
                                </div>
                            </div>
                        </div>

                        {% comment %} desktop view {% endcomment %}
                        <div class="x-hidden x-flex-col md:x-flex">
                            <table class="x-border-none table-alternating-rows">
                                <thead>
                                    <tr class="x-text-white x-bg-[#404042]">
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Item Code</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Desc</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Cut Size</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Packing</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Color</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Qty</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="x-border-b-[2.5px] x-border-[#e0e0e0]">
                                        <td class="x-p-[8px] x-py-[16px]">SAP3680</td>
                                        <td class="x-p-[8px] x-py-[16px]">Twin</td>
                                        <td class="x-p-[8px] x-py-[16px]">36 X 80 X 9</td>
                                        <td class="x-p-[8px] x-py-[16px]">5 Dz/Cs</td>
                                        <td class="x-p-[8px] x-py-[16px]">Beige</td>
                                        <td class="x-p-[8px] x-py-[4px]">
                                            <div class="x-flex x-gap-[4px] x-items-center md:x-w-full lg:x-pr-[48px]">
                                                <div class="x-flex x-items-center x-border x-rounded-md">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-r-[1px] x-border-gray-200 x-bg-white x-rounded-l-md"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                                    <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-full x-py-[4px]" readonly value="3">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-l-[1px] x-border-gray-200 x-bg-white x-rounded-r-md"><i class='x-text-[16px] bx bx-plus'></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="x-p-[8px] x-py-[12px] x-pr-[4px]">
                                            <div class="x-flex x-justify-between">
                                                <div>$110.97</div>
                                                <button class="x-rounded-sm x-text-[#444446] x-bg-[#DFDFDF] x-text-[18px] x-flex x-items-center x-p-[4px] x-px-[3px]">
                                                    <i class='bx bx-x x-leading-[0px]' ></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="x-border-b-[2.5px] x-border-[#e0e0e0]">
                                        <td class="x-p-[8px] x-py-[16px]">SAP3680</td>
                                        <td class="x-p-[8px] x-py-[16px]">Twin</td>
                                        <td class="x-p-[8px] x-py-[16px]">36 X 80 X 9</td>
                                        <td class="x-p-[8px] x-py-[16px]">5 Dz/Cs</td>
                                        <td class="x-p-[8px] x-py-[16px]">Beige</td>
                                        <td class="x-p-[8px] x-py-[4px]">
                                            <div class="x-flex x-gap-[4px] x-items-center md:x-w-full lg:x-pr-[48px]">
                                                <div class="x-flex x-items-center x-border x-rounded-md">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-r-[1px] x-border-gray-200 x-bg-white x-rounded-l-md"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                                    <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-full x-py-[4px]" readonly value="3">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-l-[1px] x-border-gray-200 x-bg-white x-rounded-r-md"><i class='x-text-[16px] bx bx-plus'></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="x-p-[8px] x-py-[12px] x-pr-[4px]">
                                            <div class="x-flex x-justify-between">
                                                <div>$110.97</div>
                                                <button class="x-rounded-sm x-text-[#444446] x-bg-[#DFDFDF] x-text-[18px] x-flex x-items-center x-p-[4px] x-px-[3px]">
                                                    <i class='bx bx-x x-leading-[0px]' ></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="x-w-full x-flex x-border-[#9E0B0F] x-border-[1px] x-justify-between x-p-[8px] md:x-p-[16px] x-bg-[#F5DFE2] x-text-[#9E0B0F]">
                    <div class="x-text-[16px] md:x-text-[22px]">TOTAL</div>
                    <div class="x-font-semibold md:x-text-[18px] x-flex x-items-center">$443.88</div>
                </div>
            </div>
            <div class="x-space-y-[8px]">
                <div class="x-text-[18px] md:x-text-[22px]">Looking to get a quote?</div>
                <div class="md:x-text-[16px]">You will have the opportunity to submit your order for a shipping quote and make any special requests on the checkout page.</div>
            </div>
            <div class="x-flex x-flex-col md:x-flex-row md:x-justify-between x-gap-[24px]">
                <div class="x-flex x-gap-[10px] x-items-center">
                    <div class="x-bg-orange-700 x-w-[48px] md:x-w-[64px] x-aspect-square x-rounded-full">&nbsp;</div>
                    <div class="x-text-[16px]">
                        <div class="x-text-[12px] md:x-text-[16px]">Contact & Support</div>
                        <div class="x-flex x-gap-[8px] md:x-text-[20px]">
                            <div class="x-font-semibold">999.999.9999</div>
                            <div class="x-flex x-items-center x-gap-[4px] x-text-[#9E0B0F]"><i class='bx bxs-chat' ></i> Chat</div>
                        </div>
                    </div>
                </div>
                <div class="x-w-full md:x-w-1/2 lg:x-w-1/3 x-flex x-gap-[8px] md:x-text-[20px]">
                    <button class="x-p-[8px] x-flex-1 x-text-[#9E0B0F] x-underline x-underline-offset-[2px]">Save Order as Draft</button>
                    <button class="x-border-[#9E0B0F] x-p-[8px] x-flex-1 x-rounded-md x-bg-[#9E0B0F] x-text-white">Checkout</button>
                </div>
            </div>
        </div>

        <div>
            <div class="x-text-[20px] x-underline x-underline-offset-[8px] x-my-[16px] x-mt-[64px]">Saved for Later</div>
            <div class="x-border x-p-[16px] md:x-p-[48px] md:x-px-[72px]">
                <div class="items-container x-space-y-[16px]">
                    <div class="item">
                        <div class="x-text-[#9E0B0F] x-pb-[4px] md:x-pb-[12px] x-border-b-[1px] md:x-border-none x-border-gray-300 x-flex x-items-end x-justify-between x-py-[4px] x-pr-[4px]">
                            <div class="x-text-[18px] md:x-text-[24px] lg:x-text-[32px] md:x-leading-[32px]">Fitted Sheets</div>
                            <div class="x-flex x-items-end">
                                <button class="x-rounded-md x-text-[#444446] x-text-[18px] x-flex x-items-center x-p-[4px]">
                                    <i class='bx bx-x' ></i>
                                </button>
                            </div>
                        </div>

                        <div class="x-flex x-flex-col md:x-hidden">
                            <div class="x-border-b-[1px] x-border-gray-300 x-py-[8px] x-space-y-[16px]">
                                <div class="x-grid x-grid-cols-2 x-gap-[8px] x-gap-x-[12px]">
                                    <div>
                                        <span>Item Code: </span><span>SAP3680</span>
                                    </div>
                                    <div>
                                        <span>Desc: </span><span>Twin</span>
                                    </div>
                                    <div>
                                        <span>Cut Size: </span><span>36 X 80 X 9</span>
                                    </div>
                                    <div>
                                        <span>Packing: </span><span>5 Dz/Cs</span>
                                    </div>
                                    <div>
                                        <span>Color: </span><span>Beige</span>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div class="x-flex x-gap-[4px] x-items-center x-w-full">
                                        <span>Qty:</span>
                                        <div class="x-flex x-items-center x-border x-rounded-md">
                                            <button class="x-flex x-items-center x-p-[4px] x-border-r-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                            <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-[40px]" readonly value="3">
                                            <button class="x-flex x-items-center x-p-[4px] x-border-l-[1px] x-border-gray-200"><i class='x-text-[16px] bx bx-plus'></i></button>
                                        </div>
                                    </div>
                                    
                                    <div class="x-flex x-items-center">
                                        <span>Subtotal:&nbsp;</span><span class="x-font-semibold">$110.97</span>
                                    </div>
                                </div>
                                <div>
                                    <button class="x-w-full x-text-white x-bg-[#9E0B0F] x-rounded-md x-py-[8px]">Add to Cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="x-hidden x-flex-col md:x-flex">
                            <table class="x-border-none table-alternating-rows">
                                <thead>
                                    <tr class="x-text-white x-bg-[#404042]">
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Item Code</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Desc</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Cut Size</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Packing</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Color</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Qty</th>
                                        <th class="x-text-start x-p-[8px] x-py-[12px] x-font-normal x-w-[14.28%]">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="x-border-b-[2.5px] x-border-[#e0e0e0]">
                                        <td class="x-p-[8px] x-py-[16px]">SAP3680</td>
                                        <td class="x-p-[8px] x-py-[16px]">Twin</td>
                                        <td class="x-p-[8px] x-py-[16px]">36 X 80 X 9</td>
                                        <td class="x-p-[8px] x-py-[16px]">5 Dz/Cs</td>
                                        <td class="x-p-[8px] x-py-[16px]">Beige</td>
                                        <td class="x-p-[8px] x-py-[4px]">
                                            <div class="x-flex x-gap-[4px] x-items-center md:x-w-full lg:x-pr-[48px]">
                                                <div class="x-flex x-items-center x-border x-rounded-md">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-r-[1px] x-border-gray-200 x-bg-white x-rounded-l-md"><i class='x-text-[16px] bx bx-minus' ></i></button>
                                                    <input type="number" class="x-border-none x-outline-none x-shadow-none x-text-center x-w-full x-py-[4px]" readonly value="3">
                                                    <button class="x-flex x-items-center x-p-[8px] x-border-l-[1px] x-border-gray-200 x-bg-white x-rounded-r-md"><i class='x-text-[16px] bx bx-plus'></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="x-p-[8px] x-py-[12px] x-pr-[4px]">
                                            <div class="x-flex x-justify-between x-items-center x-gap-[16px]">
                                                <div class="x-pr-[32px]">$110.97</div>
                                                <div class="x-flex">
                                                    <button class="x-bg-[#9E0A10] x-text-white x-p-[8px] x-px-[16px] x-text-nowrap x-rounded-md">
                                                        Add to Cart
                                                    </button>
                                                </div>
                                                <button class="x-rounded-sm x-text-[#444446] x-bg-[#DFDFDF] x-text-[18px] x-flex x-items-center x-py-[4px] x-px-[3px]">
                                                    <i class='bx bx-x' ></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .table-alternating-rows tbody tr:nth-child(even) {
        background-color: white;
    }
</style>