<section class="x-bg-[#1D1C1C] x-text-[#DBDBDB]">
    <div class="x-p-[16px] x-flex x-flex-col x-gap-[24px]">
        <div class="upper x-flex x-flex-col x-gap-[24px]">
            <div class="x-space-y-[16px]">
                <div class="x-text-[32px]">KSE SUPPLIERS</div>
                <div class="x-flex x-flex-col x-gap-[10px]">
                    <div class="x-grid x-grid-cols-[auto_100%] x-gap-[2px] x-gap-x-[8px]">
                        <div class="x-flex x-items-center"><i class='x-text-[16px] x-text-[#9E0B0F] bx bxs-phone'></i></div>
                        <div>
                            866.23.LINEN (235.4636)
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            F.845.357.5732
                        </div>
                    </div>
                    <div class="x-grid x-grid-cols-[auto_100%] x-gap-[4px] x-gap-x-[8px]">
                        <div class="x-flex x-items-center"><i class='x-text-[16px] x-text-[#9E0B0F] bx bxs-envelope' ></i></div>
                        <div>
                            info@ksesuppliers.com
                        </div>
                    </div>
                </div>
            </div>
            <div class="x-space-y-[16px]">
                <div class="x-text-[20px] x-text-[#59595b]">Products</div>
                <div class="x-grid x-grid-cols-2 x-gap-[12px] x-text-[14px]">
                    <div class="x-flex x-flex-col x-gap-[10px]">
                        <a href="#" class="x-leading-[20px]">Cleaning Supplies</a>
                        <a href="#" class="x-leading-[20px]">Clothing Protectors</a>
                        <a href="#" class="x-leading-[20px]">EverLast™ Microfiber Program</a>
                        <a href="#" class="x-leading-[20px]">Hospital/VA Property Linen</a>
                        <a href="#" class="x-leading-[20px]">Hyperbaric Linen Apparel</a>
                        <a href="#" class="x-leading-[20px]">Incontinence</a>
                        <a href="#" class="x-leading-[20px]">Operating Room/ Surgery</a>
                        <a href="#" class="x-leading-[20px]">Patient & Professional Apparel</a>
                    </div>
                    <div class="x-flex x-flex-col x-gap-[10px]">
                        <a href="#" class="x-leading-[20px]">Pediatric Apparel Linen</a>
                        <a href="#" class="x-leading-[20px]">Pillows</a>
                        <a href="#" class="x-leading-[20px]">Prison Linen</a>
                        <a href="#" class="x-leading-[20px]">Sheets & Pillowcases</a>
                        <a href="#" class="x-leading-[20px]">Tablecloth</a>
                        <a href="#" class="x-leading-[20px]">Towels & Wash Cloths</a>
                        <a href="#" class="x-leading-[20px]">Spreads, Blankets & Bedspreads</a>
                    </div>
                </div>
            </div>
            <div class="x-space-y-[16px]">
                <div class="x-text-[20px] x-text-[#59595b]">My Account</div>
                <div class="x-flex x-flex-col x-gap-[10px] x-text-[14px]">
                    <a href="#" class="x-leading-[20px]">Create / Login</a>
                    <a href="#" class="x-leading-[20px]">Account Summary</a>
                    <a href="#" class="x-leading-[20px]">My Orders</a>
                    <a href="#" class="x-leading-[20px]">Reorder</a>
                </div>
            </div>
            <div class="x-space-y-[16px]">
                <div class="x-text-[20px] x-text-[#59595b]">Company Info</div>
                <div class="x-flex x-flex-col x-gap-[10px] x-text-[14px]">
                    <a href="#" class="x-leading-[20px]">Who We Serve</a>
                    <a href="#" class="x-leading-[20px]">About</a>
                    <a href="#" class="x-leading-[20px]">Contant</a>
                </div>
            </div>
        </div>

        <div class="x-border-[#59595b] x-border-b-[1px] x-h-0">
            &nbsp;
        </div>

        <div class="middle x-space-y-[24px]">
            <div class="x-flex x-flex-col x-gap-[24px]">
                <div class="x-flex x-flex-col x-gap-[8px]">
                    <div class="x-text-[16px]">Subscribe to our newsletter</div>
                    <div class="x-bg-white x-p-[4px] x-flex x-justify-between x-gap-[8px] x-rounded-md">
                        <input type="email" placeholder="Email" class="x-p-[4px] x-rounded-sm x-border-none x-outline-none x-shadow-none x-text-black x-flex-1">
                        <button class="x-p-[4px] x-px-[16px] x-text-[16] x-bg-[#9E0B0F] x-rounded-md">
                            SUBSCRIBE
                        </button>
                    </div>
                </div>
                <div class="x-flex x-gap-[16px]">
                    <i class='x-text-[24px] bx bxl-instagram' ></i>
                    <i class='x-text-[24px] bx bxl-facebook' ></i>
                    <i class='x-text-[24px] bx bxl-linkedin' ></i>
                    <i class='x-text-[24px] bx bxl-youtube' ></i>
                </div>
            </div>
            <div class="x-text-[32px]">
                TRSA
            </div>
        </div>

        <div class="x-border-[#59595b] x-border-b-[1px] x-h-0">
            &nbsp;
        </div>

        <div class="lower x-text-[14px] x-space-y-[24px]">
            <div class="x-flex x-gap-[16px]">
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="x-text-[#59595b]">@ 2024 KSE Suppliers. All Rights Reserved. Website by <span class="x-text-[#DBDBDB] x-underline x-underline-offset-[2px]">Forwardslash</span></div>
        </div>
    </div>
</section>