*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.x-absolute {
  position: absolute !important;
}

.x-relative {
  position: relative !important;
}

.x-inset-0 {
  inset: 0px !important;
}

.x-bottom-2 {
  bottom: 0.5rem !important;
}

.x-bottom-20 {
  bottom: 5rem !important;
}

.x-bottom-3 {
  bottom: 0.75rem !important;
}

.x-bottom-4 {
  bottom: 1rem !important;
}

.x-bottom-5 {
  bottom: 1.25rem !important;
}

.x-left-10 {
  left: 2.5rem !important;
}

.x-left-4 {
  left: 1rem !important;
}

.x-left-5 {
  left: 1.25rem !important;
}

.x-top-\[-60px\] {
  top: -60px !important;
}

.x-z-10 {
  z-index: 10 !important;
}

.x-z-\[1\] {
  z-index: 1 !important;
}

.x-col-span-2 {
  grid-column: span 2 / span 2 !important;
}

.x-m-auto {
  margin: auto !important;
}

.x-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.x-mb-10 {
  margin-bottom: 2.5rem !important;
}

.x-mb-3 {
  margin-bottom: 0.75rem !important;
}

.x-mb-5 {
  margin-bottom: 1.25rem !important;
}

.x-mb-6 {
  margin-bottom: 1.5rem !important;
}

.x-mb-\[24px\] {
  margin-bottom: 24px !important;
}

.x-mb-\[30px\] {
  margin-bottom: 30px !important;
}

.x-mr-\[16px\] {
  margin-right: 16px !important;
}

.x-mt-0 {
  margin-top: 0px !important;
}

.x-mt-5 {
  margin-top: 1.25rem !important;
}

.x-mt-\[-1px\] {
  margin-top: -1px !important;
}

.x-mt-\[10px\] {
  margin-top: 10px !important;
}

.x-mt-\[48px\] {
  margin-top: 48px !important;
}

.x-block {
  display: block !important;
}

.x-flex {
  display: flex !important;
}

.x-inline-flex {
  display: inline-flex !important;
}

.x-grid {
  display: grid !important;
}

.x-list-item {
  display: list-item !important;
}

.x-hidden {
  display: none !important;
}

.x-h-56 {
  height: 14rem !important;
}

.x-h-\[100px\] {
  height: 100px !important;
}

.x-h-\[130\%\] {
  height: 130% !important;
}

.x-h-\[138px\] {
  height: 138px !important;
}

.x-h-\[32px\] {
  height: 32px !important;
}

.x-h-\[480px\] {
  height: 480px !important;
}

.x-h-\[50px\] {
  height: 50px !important;
}

.x-h-\[80px\] {
  height: 80px !important;
}

.x-h-auto {
  height: auto !important;
}

.x-h-full {
  height: 100% !important;
}

.x-w-1 {
  width: 0.25rem !important;
}

.x-w-1\/5 {
  width: 20% !important;
}

.x-w-2 {
  width: 0.5rem !important;
}

.x-w-\[1000px\] {
  width: 1000px !important;
}

.x-w-\[100px\] {
  width: 100px !important;
}

.x-w-\[200px\] {
  width: 200px !important;
}

.x-w-\[50px\] {
  width: 50px !important;
}

.x-w-\[75px\] {
  width: 75px !important;
}

.x-w-\[80\%\] {
  width: 80% !important;
}

.x-w-\[90px\] {
  width: 90px !important;
}

.x-w-auto {
  width: auto !important;
}

.x-w-full {
  width: 100% !important;
}

.x-max-w-\[100\%\] {
  max-width: 100% !important;
}

.x-max-w-\[1254px\] {
  max-width: 1254px !important;
}

.x-max-w-\[1440px\] {
  max-width: 1440px !important;
}

.x-max-w-\[300px\] {
  max-width: 300px !important;
}

.x-flex-1 {
  flex: 1 1 0% !important;
}

.x-list-disc {
  list-style-type: disc !important;
}

.x-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

.x-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.x-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.x-flex-row {
  flex-direction: row !important;
}

.x-flex-col {
  flex-direction: column !important;
}

.x-content-start {
  align-content: flex-start !important;
}

.x-items-start {
  align-items: flex-start !important;
}

.x-items-end {
  align-items: flex-end !important;
}

.x-items-center {
  align-items: center !important;
}

.x-justify-normal {
  justify-content: normal !important;
}

.x-justify-start {
  justify-content: flex-start !important;
}

.x-justify-end {
  justify-content: flex-end !important;
}

.x-justify-center {
  justify-content: center !important;
}

.x-justify-between {
  justify-content: space-between !important;
}

.x-gap-10 {
  gap: 2.5rem !important;
}

.x-gap-\[16px\] {
  gap: 16px !important;
}

.x-gap-\[20px\] {
  gap: 20px !important;
}

.x-gap-\[24px\] {
  gap: 24px !important;
}

.x-gap-\[32px\] {
  gap: 32px !important;
}

.x-gap-\[48px\] {
  gap: 48px !important;
}

.x-gap-\[4px\] {
  gap: 4px !important;
}

.x-gap-\[8px\] {
  gap: 8px !important;
}

.x-gap-x-\[8px\] {
  -moz-column-gap: 8px !important;
       column-gap: 8px !important;
}

.x-gap-y-\[16px\] {
  row-gap: 16px !important;
}

.x-gap-y-\[4px\] {
  row-gap: 4px !important;
}

.x-overflow-hidden {
  overflow: hidden !important;
}

.x-rounded {
  border-radius: 0.25rem !important;
}

.x-rounded-\[16px\] {
  border-radius: 16px !important;
}

.x-rounded-\[4px\] {
  border-radius: 4px !important;
}

.x-rounded-\[8px\] {
  border-radius: 8px !important;
}

.x-rounded-md {
  border-radius: 0.375rem !important;
}

.x-rounded-b-lg {
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.x-border {
  border-width: 1px !important;
}

.x-border-\[1\.5px\] {
  border-width: 1.5px !important;
}

.x-border-b-2 {
  border-bottom-width: 2px !important;
}

.x-border-b-\[1px\] {
  border-bottom-width: 1px !important;
}

.x-border-l-2 {
  border-left-width: 2px !important;
}

.x-border-r {
  border-right-width: 1px !important;
}

.x-border-r-2 {
  border-right-width: 2px !important;
}

.x-border-t {
  border-top-width: 1px !important;
}

.x-border-t-\[1px\] {
  border-top-width: 1px !important;
}

.x-border-\[\#ac1200\] {
  --tw-border-opacity: 1 !important;
  border-color: rgb(172 18 0 / var(--tw-border-opacity)) !important;
}

.x-border-\[\#ccc\] {
  --tw-border-opacity: 1 !important;
  border-color: rgb(204 204 204 / var(--tw-border-opacity)) !important;
}

.x-border-black {
  --tw-border-opacity: 1 !important;
  border-color: rgb(0 0 0 / var(--tw-border-opacity)) !important;
}

.x-border-gray-300 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
}

.x-bg-\[\#951828\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(149 24 40 / var(--tw-bg-opacity)) !important;
}

.x-bg-\[\#9e0b0f\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(158 11 15 / var(--tw-bg-opacity)) !important;
}

.x-bg-\[\#ac1200\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(172 18 0 / var(--tw-bg-opacity)) !important;
}

.x-bg-gray-200 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
}

.x-bg-red-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity)) !important;
}

.x-bg-red-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity)) !important;
}

.x-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.x-bg-yellow-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(202 138 4 / var(--tw-bg-opacity)) !important;
}

.x-bg-cover {
  background-size: cover !important;
}

.x-bg-center {
  background-position: center !important;
}

.x-object-contain {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.x-object-fill {
  -o-object-fit: fill !important;
     object-fit: fill !important;
}

.x-p-4 {
  padding: 1rem !important;
}

.x-p-\[12px\] {
  padding: 12px !important;
}

.x-p-\[16px\] {
  padding: 16px !important;
}

.x-p-\[24px\] {
  padding: 24px !important;
}

.x-p-\[4px\] {
  padding: 4px !important;
}

.x-p-\[8px\] {
  padding: 8px !important;
}

.x-px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.x-px-\[12px\] {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.x-px-\[16px\] {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.x-px-\[20px\] {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.x-px-\[24px\] {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.x-px-\[32px\] {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.x-py-\[10px\] {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.x-py-\[16px\] {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.x-py-\[20px\] {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.x-py-\[24px\] {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.x-py-\[32px\] {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.x-py-\[40px\] {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.x-py-\[48px\] {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.x-py-\[8px\] {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.x-pb-\[20px\] {
  padding-bottom: 20px !important;
}

.x-pb-\[47px\] {
  padding-bottom: 47px !important;
}

.x-pt-5 {
  padding-top: 1.25rem !important;
}

.x-pt-\[10px\] {
  padding-top: 10px !important;
}

.x-pt-\[16px\] {
  padding-top: 16px !important;
}

.x-pt-\[20px\] {
  padding-top: 20px !important;
}

.x-pt-\[40px\] {
  padding-top: 40px !important;
}

.x-pb-\[25px\] {
  padding-bottom: 25px !important;
}

.x-pt-\[30px\] {
  padding-top: 30px !important;
}

.x-pt-\[50px\] {
  padding-top: 50px !important;
}

.x-text-center {
  text-align: center !important;
}

.x-text-justify {
  text-align: justify !important;
}

.x-text-start {
  text-align: start !important;
}

.x-text-3xl {
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}

.x-text-4xl {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}

.x-text-5xl {
  font-size: 3rem !important;
  line-height: 1 !important;
}

.x-text-6xl {
  font-size: 3.75rem !important;
  line-height: 1 !important;
}

.x-text-\[12px\] {
  font-size: 12px !important;
}

.x-text-\[14px\] {
  font-size: 14px !important;
}

.x-text-\[16px\] {
  font-size: 16px !important;
}

.x-text-\[18px\] {
  font-size: 18px !important;
}

.x-text-\[20px\] {
  font-size: 20px !important;
}

.x-text-\[21px\] {
  font-size: 21px !important;
}

.x-text-\[23px\] {
  font-size: 23px !important;
}

.x-text-\[24px\] {
  font-size: 24px !important;
}

.x-text-\[25px\] {
  font-size: 25px !important;
}

.x-text-\[28px\] {
  font-size: 28px !important;
}

.x-text-\[32px\] {
  font-size: 32px !important;
}

.x-text-\[36px\] {
  font-size: 36px !important;
}

.x-text-\[54px\] {
  font-size: 54px !important;
}

.x-font-medium {
  font-weight: 500 !important;
}

.x-font-semibold {
  font-weight: 600 !important;
}

.x-leading-\[0px\] {
  line-height: 0px !important;
}

.x-leading-\[48px\] {
  line-height: 48px !important;
}

.x-text-\[\#86120e\] {
  --tw-text-opacity: 1 !important;
  color: rgb(134 18 14 / var(--tw-text-opacity)) !important;
}

.x-text-\[\#951828\] {
  --tw-text-opacity: 1 !important;
  color: rgb(149 24 40 / var(--tw-text-opacity)) !important;
}

.x-text-\[\#9e0b0f\] {
  --tw-text-opacity: 1 !important;
  color: rgb(158 11 15 / var(--tw-text-opacity)) !important;
}

.x-text-\[\#F2AD36\] {
  --tw-text-opacity: 1 !important;
  color: rgb(242 173 54 / var(--tw-text-opacity)) !important;
}

.x-text-\[\#a80505\] {
  --tw-text-opacity: 1 !important;
  color: rgb(168 5 5 / var(--tw-text-opacity)) !important;
}

.x-text-\[\#ac1200\] {
  --tw-text-opacity: 1 !important;
  color: rgb(172 18 0 / var(--tw-text-opacity)) !important;
}

.x-text-\[\#fff\] {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.x-text-black {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

.x-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.x-shadow-\[0_1px_7px_rgba\(0\,0\,0\,0\.5\)\] {
  --tw-shadow: 0 1px 7px rgba(0,0,0,0.5) !important;
  --tw-shadow-colored: 0 1px 7px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.x-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.x-shadow-none {
  --tw-shadow: 0 0 #0000 !important;
  --tw-shadow-colored: 0 0 #0000 !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.x-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.hover\:x-underline:hover {
  text-decoration-line: underline !important;
}

@media (min-width: 990px) {
  .md\:x-absolute {
    position: absolute !important;
  }

  .md\:x-left-\[2rem\] {
    left: 2rem !important;
  }

  .md\:x-left-\[1rem\] {
    left: 1rem !important;
  }

  .md\:x-bottom-\[5rem\] {
    bottom: 5rem !important;
  }

  .md\:x-left-\[5rem\] {
    left: 5rem !important;
  }

  .md\:x-mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .md\:x-mb-\[30px\] {
    margin-bottom: 30px !important;
  }

  .md\:x-mb-\[48px\] {
    margin-bottom: 48px !important;
  }

  .md\:x-mb-\[69px\] {
    margin-bottom: 69px !important;
  }

  .md\:x-ml-\[5px\] {
    margin-left: 5px !important;
  }

  .md\:x-mt-\[10px\] {
    margin-top: 10px !important;
  }

  .md\:x-flex {
    display: flex !important;
  }

  .md\:x-hidden {
    display: none !important;
  }

  .md\:x-h-\[240px\] {
    height: 240px !important;
  }

  .md\:x-h-\[400px\] {
    height: 400px !important;
  }

  .md\:x-h-\[50px\] {
    height: 50px !important;
  }

  .md\:x-h-\[64px\] {
    height: 64px !important;
  }

  .md\:x-h-full {
    height: 100% !important;
  }

  .md\:x-w-1\/2 {
    width: 50% !important;
  }

  .md\:x-w-\[242px\] {
    width: 242px !important;
  }

  .md\:x-w-\[30\%\] {
    width: 30% !important;
  }

  .md\:x-w-\[60\%\] {
    width: 60% !important;
  }

  .md\:x-w-\[80\%\] {
    width: 80% !important;
  }

  .md\:x-w-full {
    width: 100% !important;
  }

  .md\:x-max-w-\[250px\] {
    max-width: 250px !important;
  }

  .md\:x-flex-1 {
    flex: 1 1 0% !important;
  }

  .md\:x-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }

  .md\:x-flex-row {
    flex-direction: row !important;
  }

  .md\:x-items-center {
    align-items: center !important;
  }

  .md\:x-justify-center {
    justify-content: center !important;
  }

  .md\:x-gap-\[32px\] {
    gap: 32px !important;
  }

  .md\:x-gap-\[60px\] {
    gap: 60px !important;
  }

  .md\:x-gap-\[64px\] {
    gap: 64px !important;
  }

  .md\:x-gap-y-\[48px\] {
    row-gap: 48px !important;
  }

  .md\:x-overflow-hidden {
    overflow: hidden !important;
  }

  .md\:x-px-\[123px\] {
    padding-left: 123px !important;
    padding-right: 123px !important;
  }

  .md\:x-px-\[12px\] {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .md\:x-px-\[16px\] {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .md\:x-px-\[32px\] {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  .md\:x-px-\[40px\] {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .md\:x-py-\[24px\] {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }

  .md\:x-py-\[48px\] {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
  }

  .md\:x-py-\[64px\] {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
  }

  .md\:x-py-\[76px\] {
    padding-top: 76px !important;
    padding-bottom: 76px !important;
  }

  .md\:x-pb-\[100px\] {
    padding-bottom: 100px !important;
  }

  .md\:x-pb-\[113px\] {
    padding-bottom: 113px !important;
  }

  .md\:x-pb-\[118px\] {
    padding-bottom: 118px !important;
  }

  .md\:x-pb-\[47px\] {
    padding-bottom: 47px !important;
  }

  .md\:x-pb-\[75px\] {
    padding-bottom: 75px !important;
  }

  .md\:x-pl-\[32px\] {
    padding-left: 32px !important;
  }

  .md\:x-pt-\[32px\] {
    padding-top: 32px !important;
  }

  .md\:x-pt-\[48px\] {
    padding-top: 48px !important;
  }

  .md\:x-pb-\[90px\] {
    padding-bottom: 90px !important;
  }

  .md\:x-text-center {
    text-align: center !important;
  }

  .md\:x-text-justify {
    text-align: justify !important;
  }

  .md\:x-text-start {
    text-align: start !important;
  }

  .md\:x-text-\[14px\] {
    font-size: 14px !important;
  }

  .md\:x-text-\[16px\] {
    font-size: 16px !important;
  }

  .md\:x-text-\[18px\] {
    font-size: 18px !important;
  }

  .md\:x-text-\[22px\] {
    font-size: 22px !important;
  }

  .md\:x-text-\[24px\] {
    font-size: 24px !important;
  }

  .md\:x-text-\[29px\] {
    font-size: 29px !important;
  }

  .md\:x-text-\[43px\] {
    font-size: 43px !important;
  }

  .md\:x-text-\[48px\] {
    font-size: 48px !important;
  }

  .md\:x-text-\[20px\] {
    font-size: 20px !important;
  }

  .md\:x-shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
  }
}

@media (min-width: 1280px) {
  .lg\:x-bottom-\[10rem\] {
    bottom: 10rem !important;
  }

  .lg\:x-left-\[20rem\] {
    left: 20rem !important;
  }

  .lg\:x-mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .lg\:x-h-\[480px\] {
    height: 480px !important;
  }

  .lg\:x-h-\[560px\] {
    height: 560px !important;
  }

  .lg\:x-w-\[70\%\] {
    width: 70% !important;
  }

  .lg\:x-w-\[85\%\] {
    width: 85% !important;
  }

  .lg\:x-max-w-\[1280px\] {
    max-width: 1280px !important;
  }

  .lg\:x-gap-\[80px\] {
    gap: 80px !important;
  }
}

